@keyframes color-change {
  0% {
    background: #d1a1ac; /* For browsers that do not support gradients */

    background: linear-gradient(
      45deg,
      #3860d2,
      #3860d2 27%,
      #6e8de5 53%,
      #e8fcaf 77%,
      #6e8de5
    ); /* Standard syntax */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  25% {
    background: #edc2ce; /* For browsers that do not support gradients */

    background: linear-gradient(
      45deg,
      #6e8de5,
      #3860d2 27%,
      #3860d2 53%,
      #6e8de5 77%,
      #e8fcaf
    ); /* Standard syntax */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  50% {
    background: #e5d0d6; /* For browsers that do not support gradients */

    background: linear-gradient(
      45deg,
      #e8fcaf,
      #6e8de5 27%,
      #3860d2 53%,
      #3860d2 77%,
      #6e8de5
    ); /* Standard syntax */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  75% {
    background: #d1b1b9; /* For browsers that do not support gradients */

    background: linear-gradient(
      45deg,
      #6e8de5,
      #e8fcaf 27%,
      #6e8de5 53%,
      #3860d2 77%,
      #3860d2
    ); /* Standard syntax */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background: #af7c88; /* For browsers that do not support gradients */

    background: linear-gradient(
      45deg,
      #3860d2,
      #6e8de5 27%,
      #e8fcaf 53%,
      #6e8de5 77%,
      #3860d2
    ); /* Standard syntax */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.company-gradientTxt {
  background: -webkit-linear-gradient(0deg, #6e8de5, #3860d2, #e8fcaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-us-effect-banner {
  margin-top: -90px;
  padding: 35px 0px;
}
.about-us-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px !important;
  left: 0px;
  background-image: url("/imgs/company/about-us-banner.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.company-bgGradientTxt {
  opacity: 0.2;
  background: -o-linear-gradient(0deg, #6e8de5, #3860d2, #e7fcaf);
  background: -webkit-linear-gradient(0deg, #6e8de5, #3860d2, #e7fcaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 600px;
  font-weight: 500;
  font-size: 300px;
  text-align: center;
  /* -webkit-animation: color-change 10s ease infinite;
        animation: color-change 1s ease infinite;
    animation-timing-function: linear; */
}
.angle-content {
  background-image: url("/imgs/company/PatternImg.png");
  background-size: 100% 100%;
}
@media (max-width: 500px) {
  .about-us-effect-banner {
    margin-top: 0px !important;
  }

  .about-us-banner {
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
