.loadlens-card {
  background-image: url("/imgs/loadlens/LoadLensCardBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 600px;
  position: relative;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.dataSet-bg {
  background-image: url("/imgs/loadlens/largetDataDB.png");
  background-repeat: no-repeat;
  background-size: 65% 100%;
  background-position-x: right;
}
