.section-waveBg {
  background-image: url("/imgs/home/Wave.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.solution-type-btn {
  text-align: center;
  padding: 15px 0px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: white;
}
.solution-type-actBtn {
  background-color: #3860d2 !important;
}
.solutions-card {
  background-image: url("/imgs/solutions/solutionCardDB.png");
  background-size: cover;
}
