@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Rubik&family=Roboto+Mono:wght@300&family=Source+Code+Pro:ital,wght@1,800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* mobile style */
@import "mobile-style/default.css";

@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

html {
  overflow-x: hidden !important;
}
/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
  display: none;
}
body {
  font-family: "Red Hat Display";
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
}
.header-bar {
  z-index: 3000;
}
h1 {
  font-size: 75px;
  font-weight: 500;
  font-family: "Red Hat Display";
  line-height: 93.6px;
}

h2 {
  font-size: 48px;
  font-family: "Red Hat Display";
  font-weight: 500;
  line-height: 62.4px;
}
h3 {
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}
h4 {
  font-size: 24px;
  font-family: "Red Hat Display";
  line-height: 33.6px;
  font-weight: 500;
}
.text-size-30 {
  font-size: 30px !important;
  line-height: 39px;
  font-weight: 500;
}
.border-yellow {
  border-color: #e8fcaf !important;
}

.home-bg {
  background-image: url("/imgs/solutions/solutionCardDB.png");
  background-color: rgba(15, 23, 42, 0.75);
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row !important;
}

.swiper-section > .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e8fcaf !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #e7fcaf9b !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative !important;
  margin-top: 30px !important;
}

.scrollup-btn {
  padding: 1rem;
  border-top: 1px solid;
  border-top-right-radius: 50%;
  height: 70px;
  background: linear-gradient(176deg, #3860d2, transparent);
  border-top-left-radius: 50%;
  position: fixed;
  bottom: 15rem;
  right: 14rem;
}

div.scroll-bar-effect::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
}
div.scroll-bar-effect::-webkit-scrollbar:vertical {
  width: 10px;
  height: 30px;
}

div.scroll-bar-effect::-webkit-scrollbar:horizontal {
  height: 10px;
  width: 10px;
}
div.scroll-bar-effect::-webkit-scroll-bar-thumb {
  height: 6px;
  background-color: #3860d2;
  border-radius: 10px;
  border: 10px solid #3860d2;
  border: 4px solid rgba(0, 0, 0, 0);

  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
div.scroll-bar-effect::-webkit-scroll-bar-button {
  display: block;
  width: 10px;
  height: 10px;
}
div.scroll-bar-effect::-webkit-scroll-bar-corner {
  background-color: transparent;
}
div.scroll-bar-effect::-webkit-scroll-bar-track {
  border-radius: 10px;
  background-color: #1a234f;
}
.scroll-down-text {
  position: fixed;
  bottom: 15px;
  left: calc(50% - 87px);
}
.yellow {
  color: #e8fcaf !important;
}
.bg-yellow {
  background-color: #e8fcaf !important;
}
.bg-heavy-blue {
  background-color: #283087;
}
.bg-light-blue {
  background-color: #6e8de5;
}
.light-blue {
  color: #6e8de5;
}
.color-blue {
  color: #3860d2;
}
.bg-blue {
  background-color: #3860d2;
}
.btn-white {
  background-color: white;
  color: black;
}
.carousel-container {
  overflow: auto;
  width: 100vw;
}
.blog-item-side {
  margin-top: 15px;
}
.carousel-items-view {
  display: flex;
  width: fit-content;
}

/* Home page styles start */
.hero-section-1 {
  background-image: url("/imgs/home/Wave_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
.hero-section-btn {
  width: 360px;
  height: 360px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-center-btn:hover {
  width: 360px;
  height: 360px;
}
.hero-section-icon {
  width: auto;
  height: 80px;
}
.hover-active:hover .hero-section-icon {
  width: auto;
  height: 120px !important;
}
/* .hero-section-icon:hover{
  width: auto;
  height: 120px !important;
} */
.swipe-animation-width {
  min-width: 1000px;
  width: 100%;
}
.hover-active:hover {
  width: 290px !important;
  height: 290px !important;
}
.dataforger-btn {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/imgs/home/Ellipse 69.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.coming-btn {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/imgs/home/Ellipse 66.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wave-background {
  background-image: url("/imgs/home/Wave.png");
  background-size: 100% 100%;
  background-position: center;
}
.hero-grid-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
}
.hero-play-card-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  color: white;
}
.hero-play-btn {
  height: 75px;
  width: 195px;
}
.hero-play-btn-text {
  font-size: 27px;
  font-weight: 500;
  line-height: 36px;
}
.hero-about-us-section {
  height: 507px;
}
.about-us-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 507px;
  background-image: url("/imgs/home/Wave_bg.png");
  background-repeat: no-repeat;
  opacity: 0.5;
  background-size: 100%;
}
.light-wave-bg {
  background-image: url("/imgs/home/Wave_bg.png");
  background-repeat: no-repeat;
  opacity: 0.5;
  background-size: 100%;
}
.wave-bg {
  background-image: url("/imgs/home/Wave_bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.wave2-bg {
  background-image: url("/imgs/home/Wave.png");
  background-repeat: no-repeat;
  background-size: contain 100%;
}
.about-us-section-sm-text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  line-height: 64px;
}
.about-us-section-sm-text svg {
  margin-left: 15px;
}
.about-us-section-md-text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
}
.about-us-section-main-text {
  padding-left: 250px;
}
.hero-codeImg {
  width: 100%;
}

.loadlens-grid-item {
  width: 160px;
  position: relative;
  font-weight: 500;
  font-weight: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.curve-arrow {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-carousel-item {
  border-radius: 50%;
  border-top: 2px solid #6e8de5;
  border-right: 2px solid #6e8de5;
  padding: 2px;
}
.hero-carousel-item-overload {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* home page styles end */
.custom-text-shadow {
  text-shadow: rgb(99 102 241) 100px 0 100px;
}

.custom-purple {
  background-color: rgb(15 23 42);
}

.custom-bg-video {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(15, 23, 42, 0.75);
  background-blend-mode: multiply;
}

.star {
  opacity: 0.5;
}

.header-menu-btn:hover {
  color: #e8fcaf !important;
}
.text-yellow-550 {
  color: #e8fcaf !important;
}
.color-green {
  color: #388dbc !important;
}
